.navbar-default {
    background-color: #f4f4f4;
    margin-top: 50px;
    border-width: 0;
    z-index: 5;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > li:hover > a {
    border: 0 solid #4285f4;
    border-bottom-width: 2px;
    font-weight: 800;
    background-color: transparent;
}

.navbar-default .dropdown-menu {
    background-color: #ffffff;
}

.navbar-default .dropdown-menu li > a {
    padding-left: 30px;
}

.header {
    background-color: #ffffff;
    border-width: 0;
}

.header .navbar-collapse {
    background-color: #ffffff;
}
/* end theme styles */
/* start login styles */

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.account-wall {
    margin-top: 0px;
    padding: 40px 0px 20px 0px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
}

.login-title {
    color: #555;
    font-size: 22px;
    font-weight: 400;
    display: block;
}

.profile-img {
    width: auto;
    height: 125px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.select-img {
    border-radius: 50%;
    display: block;
    height: 75px;
    margin: 0 30px 10px;
    width: 75px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.select-name {
    display: block;
    margin: 30px 10px 10px;
}

.logo-img {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.signIn {
    margin-bottom: 10px;
}

.register {
    margin-bottom: 10px;
}

.facebook {
    margin-bottom: 10px;
}
/* end login styles */