<div class="col-md-3 col-md-offset-5 tex-center" ng-show="loading">
    <img src="./img/loader.gif ">
</div>

<div class="row">
    <div ng-repeat="player in players" class="padding">
        <div class="ih-item circle effect6 scale_up">
            <a ng-click="goToProfile(player.username)">
                <div class="img" ng-if="player.profile_pic != undefined">
                    <img ng-src="{{player.profile_pic._url}}" class="img-responsive img-center img">
                </div>
                <div class="img" ng-if="player.profile_pic == undefined">
                    <img ng-src="http://classicjuniorgolf.com/Image/GolferOnly.png" class="img-responsive img-center img">
                </div>
                <div class="info">
                    <h3>{{player.firstName}} {{player.lastName}}</h3>
                    <p>Description goes here</p>
                </div>
            </a>
        </div>
    </div>
</div>